body,html {
    background-color: #24282a;
}

.App-container {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}
.App--header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.App--header-text {
    color: white;
}
.App--header-city {
    font-size: 6rem;
    margin-top: 3rem;
    margin-bottom: 0;
}
.App--header-summary {
    font-size: 1.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0;
}
.App--header-temperature {
    font-size: 8rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}
.App--HourlyWeather-container {
    display: flex;
    justify-content: center;
}
.App--footer-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.App--footer-button {
    width: 30%;
    height: 75px;
    font-size: 2rem;
    border-radius: 5px;
    color: #24282a;
    background-color: white;
}