body,html {
    background-color: #24282a;
}

.App-container {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}
.App--header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.App-header-text {
}