.DailyWeather--container {
    display: flex;
}
.DailyWeather--card {
    list-style-type: none;
    width: 100%;
    max-width: 720px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px white;
}
.DailyWeather--card-day {
    font-size: 2rem;
    color:white;
    width: 20%;
}
.DailyWeather--card-icon {
    width: 64px;
    height: 64px;
}
.DailyWeather--card-temp {
    font-size: 2rem;
    color:white;
}
