.HourlyWeather--card {
    width: 128px;
    min-width: 128px;
    height: 300px;
    display: inline-block;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.HourlyWeather--card-text {
    color: white;
}