.HourlyWeather--card {
    width: 64px;
    min-width: 64px;
    height: 200px;
    display: inline-block;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.HourlyWeather--card-time {
    color: white;
    font-size:  1.5rem;
}
.HourlyWeather--card-icon {
    margin-top: -.5rem;
    margin-bottom: -1rem;
    width: 64px;
    height: 64px;
}
.HourlyWeather--card-temperature {
    color: white;
    font-size: 2rem;
}